numpy
scipy
scikit-learn
# uncertainties, tabulate are optional dependencies that
# that are pulled in by setup.py if required. See setup.py
# for details
# To install test dependencies use the test-requirements.txt

# Vendors
pymc3